{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"
{% extends "base.html" %}
{% block title %}
{{ restaurant.name}}

{% endblock%}

{% block content%}
    <div style="text-align:center; margin-bottom:20px;">
        <img src="{% static 'images/logo.png' %}" alt="{{restaurant.name"}}Logo  class="logo" style="max-width: 200px;">
    </div>
    <h1>
     🙏Welcome to {{ restaurant.name}}🙏
    </h1>
    {% if restaurant.phone_number %}
        <p>Call us: {{restaurant.phone_number}}</p>
    {% else %} 
        <p> Phone Number not available</p>
    {% endif%}       
    {% if location %}
        <h3> Find Us At:</h3>
        <p>
            {{ location.address }}<br>
            {{ location.city}},{{ location.state }} - {{location.zip_code}}
        </p>
    {% else %}
        <p>
            Restaurant address not available yet.</p>
    {% endif %}
    
    <p>
        Enjoy the finest dishes made with fresh ingredients, served in a cozy atmosphere.
    </p>
    <form method="get" action="" class="search-form">
        <input type="text" name="q" placeholder="Search menu items..."/>
        <button type="submit">Search</button>
    </form>
    <div class="button-group">
    <a href="{% url 'about' %}" class="btn-green"> 
        Learn more About Us 
    </a>
    <a href="{% url 'contact' %}" class="btn-blue">
        Contact Us
    </a>
    <a href="{% url 'menu_list' %}" class="btn-yellow">
        View Menu 
    </a>
    </div>
    {% if error_message %}
        <p style="color: red;">{{error_message}}</p>
    {% endif %}
    <section id="address" style="margin-top:50px; text-align:center;">
        <h2>Our address</h2>
        <p> {{address}}</p>

        <div style="margin-top:20px;">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.724652976537!2d72.57136271504865!3d23"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>
{% endblock %}