{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% extends "base.html" %}

{% block title %}
Menu
{% endblock %}

{% block content %}
<h2> Menu </h2>
<ul class="menu-list">
    {%for item in menu_items %}
        <li>

            <span class="menu-name">{{ item.name }}</span>
            <span class="menu-price">Rs.{{ item.price }}</span>
            <span class="menu-description">{{item.description}}</span>

            {%if item.image%}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" width="150">
            {% else %}
                <em> No image aavailable</em>
            {% endif %}
        </li>
    {% endfor %}
</ul>       